services:

    database:
        image: postgis/postgis:13-master

        restart: unless-stopped

        volumes:
            - ./data/database:/var/lib/postgresql/data

        networks:
            - web

        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}

        healthcheck:
            test: ["CMD", "pg_isready", "--host=localhost", "--username=${POSTGRES_USER}"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_interval: 5s
            start_period: 30s

    cache:
        image: redis:6

        restart: unless-stopped

        networks:
            - web

        healthcheck:
            test: ["CMD-SHELL", "[ $$(redis-cli ping) = 'PONG' ]"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_interval: 5s
            start_period: 30s

    directus:
        image: directus/directus:11.14.0

        restart: unless-stopped

        volumes:
            - ./uploads:/directus/uploads
            - ./extensions:/directus/extensions

        depends_on:
            database:
                condition: service_healthy
            cache:
                condition: service_healthy

        networks:
            - caddy
            - web
            - smtp

        labels:
            caddy: directus.rockag.net
            caddy.reverse_proxy: "{{upstreams 8055}}"

        environment:
            SECRET: ${DIRECTUS_SECRET}

            DB_CLIENT: "pg"
            DB_HOST: "database"
            DB_PORT: "5432"
            DB_DATABASE: ${POSTGRES_DB}
            DB_USER: ${POSTGRES_USER}
            DB_PASSWORD: ${POSTGRES_PASSWORD}

            CACHE_ENABLED: "true"
            CACHE_AUTO_PURGE: "true"
            CACHE_STORE: "redis"
            REDIS: "redis://cache:6379"

            WEBSOCKETS_ENABLED: "true"

            ADMIN_EMAIL: ${ADMIN_EMAIL}
            ADMIN_PASSWORD: ${ADMIN_PASSWORD}

            PUBLIC_URL: ${PUBLIC_URL}

            EMAIL_TRANSPORT: ${EMAIL_TRANSPORT}
            EMAIL_SMTP_HOST: ${EMAIL_SMTP_HOST}
            EMAIL_SMTP_PORT: ${EMAIL_SMTP_PORT}
            EMAIL_SMTP_USER: ${EMAIL_SMTP_USER}
            EMAIL_SMTP_PASSWORD: ${EMAIL_SMTP_PASSWORD}

networks:
    web:
        driver: bridge
    caddy:
        external: true
    smtp:
        external: true